<div class="container_box">
  <article class="up_article">
    <div class="text_container1">
      <div class="main_title" [@slideInAnimation]>
        <h2>Skills Overflow</h2>

      </div>
      <p>Your Question and Answer Board</p>
      <button type="button" class="forum_btn" (click)="nav_forum()">Forum</button>
    </div>
    <img src="https://www.smartnation.gov.sg//images/initiatives/business-grant-portal-overview.jpeg" alt="">
  </article>

  <article class="second_article">
    <div class="text_container2">
      <div class="text_container2_title" [@slideInAnimation]>
        <h2>Get To Know Us </h2>
      </div>
      <p>Skills Overflow is a powerful online platform built exclusively for our employees, where you can tap into the
        collective knowledge and skills of our talented workforce. Our platform is designed to facilitate knowledge
        sharing, problem-solving, and collaboration, but with a focus on our internal organizational needs.</p>
      <button  type="button" class="learmore_btn"
        (click)="nav_about()">Learn More</button>
    </div>
  </article>

  <article class="down_article">
    <div class="down_article_title" [@slideInAnimation]>
      <h2>Issues We Cover</h2>
    </div>

    <p>Your Place</p>
    <div class="img_group">
      <div class="img_text">
        <img class="img1"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV-S2D_-myw29d7mhi0iLLrD1RSZQ5VW_yYgdGAcE-XDsAa1HTLJ2A0lWJYUFeAwd71C4&usqp=CAU"
          alt="">
        <h3>Programming</h3>
        <p>Specially for You</p>
      </div>
      <div class="img_text">
        <img class="img1"
          src="https://img.freepik.com/premium-photo/programmers-developing-codes-their-computers_1423-3556.jpg" alt="">
        <h3>Community</h3>
        <p>The Information You Need</p>
      </div>
      <div class="img_text">
        <img class="img1"
          src="https://img.freepik.com/premium-photo/professional-developer-programmer-working-software-website-design-coding-technology-writing-codes-database-company-office-global-cyber-connection-technology_122498-187.jpg"
          alt="">
        <h3>Q&A</h3>
        <p>Get the Facts</p>
      </div>
    </div>
  </article>

  <div class="button-container">
    <button type="button"
    class="btn btn-outline-primary" (click)="signOut()">
    <span class="text-signout">Sign out</span>
    </button>
</div>