@font-face {
  font-family: 'Lora';
  src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}

.container_box {
  padding-top: 40px;
  width: 1400px;
  height: 100%;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #DBE2EF; */
}
.main_title h2 {
  font-family: 'Lora', serif;
  line-height: 40px;
}

img {
  width: 600px;
}

h2 {
  font-size: 45px;
}

.up_article {
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  width: 1200px;
  display: flex;
  flex-direction: row;
}

.text_container1 {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  text-align: center;
  font-family: 'Lora', serif;
  color:#112D4E;
}

button {
  width: 150px;
}

.second_article {
  justify-content: center;
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 30px;
}

.text_container2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 530px;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  text-align: center;
  font-family: 'Lora', serif;
  color:#112D4E;
}

.text_container2_title h2 {
  font-family: 'Lora', serif;
  color:#112D4E;
}

.down_article {
  margin-top: 50px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
  font-family: 'Lora', serif;
  color:#112D4E;
}

.down_article_title h2 {
  font-family: 'Lora', serif;
  color:#112D4E;
}

.down_article h3 {
  font-family: 'Lora', serif;
  color:#112D4E;
}

.down_article h3+p {
  font-family: 'Lora', serif;
  text-align: center;
  color:#112D4E;
}

.img_group {
  align-items: center;
  width: 1200px;
  display: flex;
  justify-content: center;
  padding: 20px 40px;
}

.img1 {
  width: 300px;
  margin: 5px 50px;
}

p {
  font-family: 'Lora', serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  color:#112D4E;
}

/*ANIMATIONS*/

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-animation {
  animation: slideIn 1s ease-in-out;
}

.text-signout{
  font-family: 'Lora', serif;
}


.forum_btn{
  width: 130px;
  height: 33px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: "Lora", serif;
  background-color: #f9f7f7;
  color: #112d4e;
  border: 1px solid #112d4e;
  border-radius: 5px;
} 

.learmore_btn{
  width: 130px;
  height: 33px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: "Lora", serif;
  background-color: #f9f7f7;
  color: #112d4e;
  border: 1px solid #112d4e;
  border-radius: 5px;
}

.active {
  background-color: #dbe2ef;
}