<!DOCTYPE html>
<div class="comment_container">
  <div class="comment_content">
    <p class="text">{{ comment.text }}</p>
    <p>{{ comment.userEmail }}</p>
        <p>{{comment.creationDate}} </p>
        <!-- <p>{{comment.isCorrect}} </p> -->
  </div>
  <div class="like_container">
    <div class="like">
      <i class="fa-regular fa-thumbs-up"></i>
      <p>like</p>
    </div>

    <p>10</p>
  </div>
<i class="fa-regular fa-square-check" [class.green]="comment.isCorrect"  (click)="markTrue(comment.commentId!,tokenC)"></i>


</div>
