.comment_container {
  display: flex;
  flex-direction: column;
  align-items: end;
  border: 3px solid  #DBE2EF;
  background-color: white;
  border-radius: 5px;
  margin: 6px 0;
  padding: 3px 10px;
}
.comment_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* margin: 6px 0;
  padding: 3px 10px; */
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  align-items: end;
  font-family: 'Lora', serif;
  color:#112D4E;
  font-size: 18px;
  /* margin: 20px 4px; */
  padding: 3px 10px;;
}

p {
  margin: 0;
}
.green {
 fill: green;
}