
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
}

.image-container {
  margin-bottom: 10px;
 
}


.button{
  margin-top: 10px;
}

/* .login-cntainer{
  display: flex;
  flex-direction: column;
  align-items: center;
} */








/* 
.login {
  width: 100vw; 
  height: 100vh;
  position: absolute;
  left: 0;
}
.img_login {
  background-image: url("https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGxhcHRvcCUyMGltYWdlc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: 100% auto;
  background-position: left-center;
  width: 50vw; 
  height: 100vh;
  margin: 0;
}

.modal_login {
  width: 50vw;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login_btn {
  background: none;
  padding: 10px 16px;
  border: 1px solid #a2a1a1;
}

.text-signin{
  font-family: 'Lora', serif;
}

.google-logo {
  max-width: 30%;
  max-height: 20px;
  margin-left: 10px;
} */
