
.login {
  width: 100vw; 
  height: 100vh;
  position: absolute;
  left: 0;
}


.modal_login {
  width: 50vw;
  background-color: #DBE2EF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.login_btn {
  background: none;
  padding: 10px 16px;
  border: 1px solid #a2a1a1;
  color: #112D4E;
}

.btn-outline-primary{
  color:#112D4E;
}


.text-signin{
  font-family: 'Lora', serif;
}

.google-logo {
  max-width: 30%;
  max-height: 20px;
  margin-left: 10px;
}
