
<div #googleBtn class="button-container"></div>





<!-- <div class="login d-flex">
  <div class="img_login"></div>
  <div class="modal_login">
    <h3 class="title"></h3>
    <div class="button-container">
    <button type="button"
    class="btn btn-outline-primary" (click)="initializeGoogleSignIn()">
    <span class="text-signin">Sign in with</span>
    <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/google-icon-logo.png" alt="Google Logo" class="google-logo">
    </button>
  </div>
  </div>
</div> -->



