.completeQuestion_container {
  
 width: 1200px;
  margin: auto;
  padding: 10px 30px;
  border: 3px solid  #DBE2EF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:#F9F7F7 ;
}

.completeQuestionC_up {
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}
.name_date {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.completeQuestion_title {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.completeQuestion_category {
  padding-left: 20px;
  margin: 10px 0;
}
.completeQuestion_description {
  margin-top: 8px;
  padding: 4px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}



p {
  margin: 4px;
}

.completeQuestionC_down {
  border-bottom: 3px solid #DBE2EF;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
  padding-right: 30px;
}

.like:hover {
  color: #ff6b6b;
}

.right {
  width: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.fa-regular {
  font-weight: regular;
}

.fa-solid {
  font-weight: 900;
}
.comments_container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}
textarea {
  overflow: hidden;
  min-height: 20px;
  resize: none; 
  border-color: black;
}

textarea:active, textarea:focus {
  outline: none;
}
