<!DOCTYPE html>
<div class="completeQuestion_container">
  <div class="completeQuestionC_up">
    <div class="name_date">
      <p class="completeQuestion_user">{{ completeQuestion.userEmail }}</p>
      <p class="completeQuestion_date">{{ completeQuestion.date }}</p>
    </div>
    <div class="completeQuestion_category">
      <p>{{ completeQuestion.category }}</p>
    </div>

    <div class="completeQuestion_title">
      <p>{{ completeQuestion.title }}</p>
    </div>
    <div class="completeQuestion_description">
      {{ completeQuestion.description }}
    </div>
  </div>

  <div class="completeQuestionC_down">
    <div class="like">
      <i class="fa-regular fa-thumbs-up"></i>
      <p>like</p>
    </div>
    <hr />
  </div>
</div>
