<!DOCTYPE html>
<div class="completeQuestion_container">
  <div class="completeQuestionC_up">
    <div class="name_date">
      <p class="completeQuestion_user">{{ completeQuestion.email }}</p>
      <p class="completeQuestion_date">{{ completeQuestion.creationDate }}</p>
      <p *ngIf="completeQuestion.solved">Solved</p>
    </div>
    <div class="completeQuestion_category">
      <p>{{ completeQuestion.categoryIds }}</p>
    </div>

    <div class="completeQuestion_title">
      <p>{{ completeQuestion.title }}</p>
    </div>
    <div class="completeQuestion_description">
      {{ completeQuestion.description }}
    </div>
  </div>

  <div class="completeQuestionC_down">
    <div class="like">
      <i class="fa-regular fa-thumbs-up"></i>
      <p>like</p>
    </div>
  
  </div>
  <div class="comments_container">
    <app-comment
      *ngFor="let comment of commentList"
      [comment]="comment"
      (commentMarkedTrue)="getComments()"
      (newGetArticleEvent)="getComments()"
      (commentMarkedTrue)="onCommentMarkedTrue()"
      [questionId]="questionId"
    ></app-comment>
    <form class="form-group" [formGroup]="commentForm">
      <div class="form-group">
        <textarea
          #comment
          class="form-control"
          id="comment"
          rows="3"
          placeholder="comment"
          formControlName="text"
        ></textarea>
      </div>
    </form>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="addComment()"
    >
      Comment
    </button>
  </div>
</div>
