<div class="app_container">
  <div class="app_content">
    <nav class="nav" *ngIf="isRootUrl()">
      <img [src]="imagePath" alt="Image Description">
      
        <div class="nav_buttons">
          <button
            id="home"
            type="button"
            class="nav_button"
            [class.active]="activePage === 'home'"
            (click)="navigate_home()"
          >
            Home
          </button>
          <button
            id="about"
            type="button"
            class="nav_button"
            [class.active]="activePage === 'about'"
            (click)="navigate_about()"
          >
            <span class="about-text">About</span>
          </button>
          <button
            id="forum"
            type="button"
            class="nav_button"
            [class.active]="activePage === 'forum'"
            (click)="navigate_forum()"
          >
            <span class="forum-text">Forum</span>
          </button>
        </div>
       
     
     <div class="userEmail"></div>
    </nav>
    <router-outlet></router-outlet>
    <footer *ngIf="isRootUrl()"><h4>Skills Overflow</h4></footer>
  </div>
</div>
