.router_container {
width: 100%;

}
.app_container {
  width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.app_content {
  width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav {
    padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}
.nav_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.nav_button {
  background-color: white;
  border: 0;
  height: 50px;
  font-family: 'Lora',serif;
  font-size: 25px;
  color: #112D4E;
  font-weight: bold;
}
.nav_right {
  display: flex;
}
.nav_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_profile p {
  margin: 0 10px;
  font-size: 19px;
}

.fa-bell {
  font-size: 23px;
}
h1 {
  font-size: 55px;
}
footer {
  margin-top: 40px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
  }
  .nav_button.active {
  
    color: rgb(1, 118, 253);
  }


  .login {
    width: 100%;
    height: 100vh;
    position: absolute;
  
  }
  .img_login {
    background-image: url("https://images.unsplash.com/photo-1634647608224-11b088789061?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
    width: 50%;
    height: 100vh;
  }
  .modal_login {
 width: 50%;
 background-color: white;
}



  .login_btn {
    background: none;
    padding:10px 16px;
    border: 1px solid #a2a1a1;
  }

  .app_container .app_content h1{
    font-family: 'Lora',serif;
    color: #112D4E;
  }
