<div class="container">
  <nav class="nav">
    <h1>Skills Overflow</h1>
    <div class="nav_right">
      <div class="nav_buttons">
        <button id="home" type="button" class="nav_button" (click)="test()">
          Home
        </button>
        <button id="about" type="button" class="nav_button" (click)="test()">
          About
        </button>
        <button id="faq" type="button" class="nav_button" (click)="test()">
          FAQ
        </button>
        <button id="forum" type="button" class="nav_button" (click)="test()">
          forum
        </button>
        <button id="members" type="button" class="nav_button" (click)="test()">
          Members
        </button>
      </div>
      <div class="nav_profile">
        <i class="fa-regular fa-bell"></i>
        <p>User Name</p>
        <i class="fa-solid fa-caret-down"></i>
      </div>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>