<div class="container_box">
  <div class="content_up_nav">
    <div class="content_up_buttons">
      <div class="btn_left">
        <button
          id="categories"
          type="button"
          class="nav_btn"
          [class.active]="activeButtonId === 'categories'"
          (click)="showCategory()"
        >
          Categories
        </button>
        <button
          id="allPosts"
          type="button"
          class="nav_btn"
          [class.active]="activeButtonId === 'allPosts'"
          (click)="showAllPosts()"
          x
        >
          All posts
        </button>
        <button
          id="myPosts"
          type="button"
          class="nav_btn"
          #myPostsButton
          [class.active]="activeButtonId === 'myPosts'"
          (click)="showMyPosts()"
        >
          My posts
        </button>
      </div>
   
    </div>

    <div class="content_img">
      <p class="content_img_big">Questions And Answers</p>
    </div>
    <div class="create_button_container">
      <form class="input_container" [formGroup]="searchForm"  (keyup.enter)="nav_to_search()">
        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select id="select" formControlName="categoryIds" multiple>
            <mat-option
              *ngFor="let category of categoryIds"
              [value]="category.value"
            >
              {{ category.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <input
          type="text"
          class="input"
          name="keyword"
          id="search"
          placeholder="Search"
          formControlName="keyword"
        />
      </form>
      <button
      id="createPost"
      type="button"
      class="nav_btn"
      (click)="nav_to_create()"
    >
      Create post
    </button>
    </div>
  </div>
  <div class="display_content">
    <ng-container *ngIf="isCategory; else allPostsBlock">
      <app-category
        *ngFor="let category of categoryList"
        [category]="category"
        (newGetArticleEvent)="getCategory()"
      ></app-category>
      <app-question
        *ngFor="let question of questionList"
        [question]="question"
        (newGetArticleEvent)="get5Questions(n)"
      ></app-question>
    </ng-container>
    <ng-template #allPostsBlock>
      <ng-container *ngIf="isAllPosts; else myPostsBlock">
        <div class="app-category">
          <app-question
            *ngFor="let question of visibleQuestions"
            [question]="question"
            (newGetArticleEvent)="getQuestions()"
          ></app-question>
          <button
            id="load_more"
            type="button"
            class="btn btn-outline-primary"
            *ngIf="visibleQuestions.length < questionList.length"
            (click)="loadMoreQuestions()"
          >
            Load More
          </button>
        </div>
      </ng-container>
      <ng-template #myPostsBlock>
        <app-question
          *ngFor="let question of questionMyPostsList"
          [question]="question"
          (newGetArticleEvent)="getMyPosts()"
        ></app-question>
      </ng-template>
    </ng-template>
  </div>
</div>
