<div class="container_box">
  <div class="img">
    <img src="https://cdn-media-1.freecodecamp.org/images/0*ngXgBNNdx6iiWP8q.png" alt="" />
  </div>
  <div class="text">
    <h2>What We Believe In</h2>
    <p>Skills Overflow was born out of the community's need for safe and interactive platform for questions and answers.</p>
    <p>Every day, you'll find new topics and posts, woven into one giant network of information.
      Skills Overflow is not just a platform, it's a vibrant community where
      employees can connect, learn from each other, and collectively drive
      inovation.</p>

    <p>Our robust Q&A system allows you to post questions and recieve answers
      from your colleagues across different teams and departaments. You can also
      contribute your expertise by providing thoughtful responses to help others
      in their day-to-day work.</p>
    <p> Join us on this exciting journey of knowledge exchenge and watch our
      collective expertise thrive!</p>
    <p>When you enter in our Questions and Answer Board, you'll immediatlely
      sense our special vibe and unique approach. We promote transparent and
      respectful discussions which keeps our members coming back. Take a look at
      the latest Q&As and let us know if you have any questions.
      Welcome to a smarter way to collaborate and share knowledge</p>


    <h2> Welcome to Skills Overflow!</h2>
  </div>
</div>