<!DOCTYPE html>
<div class="question_container" (click)="navclick()">
  <div class="questionC_up">
    <div class="user_date">
      <div class="user_date_content">
        <p class="question_user">{{ question.email }}</p>
        <p class="completeQuestion_date">
          {{ question.localDateTime | slice : 0 : 10 }}
        </p>
      </div>
      <svg
        *ngIf="question.solved"
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 448 512"
      >
        <path
          d="M64 80c-8.8 0-16 7.2-16 16V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V96c0-8.8-7.2-16-16-16H64zM0 96C0 60.7 28.7 32 64 32H384c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"
        />
      </svg>
    </div>
    <div class="question_category_coments">
      <p class="question_category">
        {{ question.categoryNames }}{{ categoryNames?.join(", ") }}
      </p>
      <div class="comment_icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 512 512"
        >
          <path
            d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
          />
        </svg>
        <p>{{ question.noOfComments }}</p>
      </div>
    </div>
    <p class="question_title">{{ question.title }}</p>
    <div class="question_description">
      <p>{{ truncateText(question.description, 4, 380) }}</p>
    </div>
  </div>
  <hr />
</div>
