.question_container {
  width: 950px;
  margin: 30px 0;
  padding: 10px 30px;
  border: 3px solid #dbe2ef;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f9f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questionC_up {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px;
}
.question_description {
  max-height: 120px;
  margin-top: 8px;
  padding: 4px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}

hr {
  border: none;
  border-top: 3px solid #dbe2ef;
  width: 100%;
  margin: 20px 0;
}

p {
  margin: 4px;
}

.questionC_down {
  padding: 0 30px;
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.right {
  width: 100px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

i {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.fa-regular {
  font-weight: regular;
}

.fa-solid {
  font-weight: 900;
}

.question_container .questionC_up .question_title {
  text-align: center;
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: larger;
  font-size: 18px;
  font-weight: bold;
}

.question_container .questionC_up .user_date {
  display: flex;
  justify-content: space-between;
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: 18px;
}

.question_container .questionC_up .question_description {
  text-align: left;
  margin-top: 10px;
  margin-left: 0;
  padding-left: 0;
  margin-top: 20px;
  margin: 4px;
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: 18px;
}
.user_date_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user_date svg {
  fill: rgb(0, 173, 0);
  width: 25px;
  height: 25px;
}
.question_category_coments {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 14px;
}
.comment_icon {
  display: flex;
  align-items: center;
}
.comment_icon svg {
  width: 16px;
  height: 16px;
}
.question_category {
   font-family: "Lora", serif;
  color: #112d4e;
}
