<!doctype html>
<div class="question_container" (click)="navclick()">
  <div class="questionC_up">
    <p class="question_user">{{ question.userEmail }}</p>
    <p class="question_date">{{ question.date }}</p>
    <p class="question_title">{{ question.title }}</p>
    <p class="question_category">{{ question.category}}</p>
    <div class="question_description">
      {{ truncateText(question.description, 4, 380) }}
    </div>
  </div>
  <hr />
  <div class="questionC_down">
    <div class="like">
      <i class="fa-regular fa-thumbs-up"></i>
      <p>like</p>
    </div>
    <div class="right">
      <i class="fa-regular fa-message"><p>2</p></i
      ><i class="fa-solid fa-eye"><p>3</p></i>
    </div>
  </div>
</div>
