
.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80px;
}
.nav_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.nav_button {
  background-color: white;
  border: 0;
  height: 50px;
}
.nav_right {
  display: flex;
}
.nav_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_profile p {
  margin: 0 10px;
  font-size: 19px;
}

.fa-bell {
  font-size: 23px;
}
h1 {
  font-size: 35px;
}
.input_container {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  height: 300px;
}
.create_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin: 7px;
}
input {
  border: none;
  outline: none;
  margin-bottom: 5px;
}
.create_input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input_container {
  padding-left: 50px;
  padding-top: 20px;
  padding: 20px 50px;
  height: 500px;
}
.description {
  height: 150px;
  resize: none;
  overflow-y: auto;
  border: none;
  outline: none;
}
