.container_box {
  padding-top: 40px;
  width: 96%;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 26px 0 26px;
  margin: auto;
}
.form_group {
  width: 1200px;
}
h2 {
  margin: 10px;
  font-family: "Lora", serif;
  color: #112d4e;
  font-weight: bold;
}
form {
  padding: auto;
  border: 3px solid #dbe2ef;
  border-radius: 5px;
  height: 350px;
  padding: 20px 20px;
  background-color: #f9f7f7;
}
.create_buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin: 7px;
}
input {
  border: none;
  outline: none;
  margin-bottom: 5px;
  background-color: #f9f7f7;
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: 18px;
}
.create_input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
textarea {
  background-color: #f9f7f7;
  height: 200px;
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: 18px;
}
.create_input input::placeholder {
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: 18px;
}
.input_container {
  width: 100%;
  padding-left: 50px;
  padding-top: 20px;
  padding: 20px 50px;
  height: 500px;
}
.description {
  height: 250px;
  resize: none;
  overflow-y: auto;
  border: none;
  outline: none;
}
.description::placeholder {
  font-family: "Lora", serif;
  color: #112d4e;
  font-size: 18px;
}
.display_content {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container_box .input_container input::placeholder {
  font-family: "Lora", serif;
  font-size: 20px;
  padding-left: 6px;
  color: #112d4e;
}
mat-label {
  font-size: 18px;
  font-family: "Lora", serif;
  color: #112d4e;
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  position: absolute !important;
  width: 1px;
}

div.mdc-line-ripple.ng-tns-c3673195382-0.ng-star-inserted {
  display: none !important;
  padding-top: 6px;
}
div.mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c3673195382-0.mdc-text-field--filled {
  display: flex !important;
  align-items: center !important;
  padding-top: 6px;
}
.create_button_container .search_buton button {
  width: 150px !important;
  height: 40px !important;
  padding-top: 4px;
}
.mat-mdc-form-field.ng-tns-c3673195382-0.mat-mdc-form-field-type-mat-select.mat-form-field-appearance-fill.mat-form-field-hide-placeholder.mat-primary.ng-pristine.ng-valid.ng-star-inserted.ng-touched {
  width: 150px !important;
  padding-top: 4px;
}
div.mat-mdc-text-field-wrapper {
  width: 150px !important;
  padding-top: 3px;
}
mat-form-field {
  background-color: #f9f7f7;
  display: flex;
  width: 150px;
  height: 33px;
  border-radius: 5px;
  border: 1px solid #112d4e;
}
mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-select {
  display: flex !important;
  align-items: end !important;
  padding-top: 4px;
}
mat-form-field.mat-mdc-form-field.mat-mdc-form-field-type-mat-select {
  width: 150px !important;
}
div.mat-mdc-select-arrow svg:first-child {
  top: 10px;
}
.container_box custom-font {
  font-family: "Lora", serif;
}
.container_box .input_container mat-label {
  font-size: 18px;
  font-family: "Lora", serif;
  color: #112d4e;
}
.cancel_btn {
  width: 130px;
  height: 33px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: "Lora", serif;
  background-color: #f9f7f7;
  color: #112d4e;
  border: 1px solid #112d4e;
  border-radius: 5px;
}

.publish_btn {
  width: 130px;
  height: 33px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-family: "Lora", serif;
  background-color: #f9f7f7;
  color: #112d4e;
  border: 1px solid #112d4e;
  border-radius: 5px;
  margin-left: 5px;
}
