<div class="container_box custom-font">

  <div class="container_box">
    <h2>Your Question</h2>
    <form class="input_container" [formGroup]="questionForm">
      <mat-form-field>
        <mat-label>Categories</mat-label>
        <mat-select id="select" formControlName="categoryIds" multiple>
          <mat-option
            *ngFor="let category of categories"
            [value]="category.value"
          >
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <div class="create_input">
        <input
          type="text"
          id="title"
          placeholder="Give this post a title" 
          formControlName="title"
        />
        
        <!--TO DO-->
        <textarea
          class="description"
          id="description"
          placeholder="Write your post here"
          formControlName="description"
        ></textarea>
      </div>
    </form>
    <div class="create_buttons">
      <button type="button" class="btn btn-outline-primary" (click)="nav_back()">
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="addQuestion()"
      >
        Publish
      </button>
    </div>
  </div>
  


</div>
