<div class="create_container">
  <form>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Category</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Select a category</option>
          <option value="1">SQL</option>
          <option value="2">C++</option>
          <option value="3">FrontEnd</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <input
        type="title"
        class="form-control"
        id="title"
        placeholder="Give this post a title"
      />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
        </div>
        <textarea class="form-control" aria-label="With textarea" placeholder="Write your post here"></textarea>
      </div>
  </form>
  <button type="button" class="btn btn-outline-primary">Cancel</button>
  <button type="button" class="btn btn-primary">Publish</button>
</div>
