.container {
  padding-top: 40px;
  width: 1020px;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* ffd124 */
}
.input_container {
  width: 100vh;
  border: 3px solid #dbe2ef;
  border-radius: 5px;
  height: 300px;
}
.create_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin: 7px;
}
input {
  border: none;
  outline: none;
  margin-bottom: 5px;
}
.create_input {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.input_container {
  width: 100%;
  padding-left: 50px;
  padding-top: 20px;
  padding: 20px 50px;
  height: 500px;
}
.description {
  height: 150px;
  resize: none;
  overflow-y: auto;
  border: none;
  outline: none;
}
